body {
    width: 960px;

}

.blank {
    height: 1060px;
}



.sub-title {
    width: 35px;
    margin: 60px 26px 60px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
}

.img-box {
    width: 300px;
    height: 300px;
    margin-left: 18px;
    margin-bottom: 25px;
}

.article-div {
    display: flex;
    flex-direction: column;
}

.article-img {
    width: 300px;
    height: 177px; 
}

.content {
    margin-top: 33px;
}

.article-div a {
    text-align: right;
    text-decoration: none;
    color: #6D86ED;
}

